<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Blog{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}"/>

        <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
        <link rel="script" href="{{ asset('bundles/app/js/app.js') }}"/>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        {% block navbar %}{% include 'AppBundle::navbar.html.twig' %}{% endblock%}
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                {% block section %}
                {%endblock section %}
                </div>

         {% block sidebar %}{% include 'AppBundle::sidebar.html.twig' %}{% endblock%}
            </div>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                       {% block footer %}
                            Copyright © Dmitry Zrayev
                       {% endblock %}
                    </div>
                </div>
            </footer>
        </div>
     </body>
</html>

