    <div class="col-md-4">
        <!-- Blog Categories Well -->

        <div class="well">
        {% include 'AppBundle:widgets:tagCloud.html.twig' %}
         {#{% render "ApplicationDefaultBundle:Widgets:tagCloud" %}#}
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>{{ 'widgets.popularPosts' | trans }}</h4>
            {{ render_popular_post() }}
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4> {{ 'widgets.lastComments' | trans }}</h4>
            {{ render_last_comment() }}
        </div>

    </div>