{% extends 'AppBundle::base.html.twig' %}

{% block h2 %}
    <h2>Всі автори:</h2>
{% endblock %}
{% block section %}
    {% for author in authors %}
        <li><a href="{{ path('author', {'id': author.id}) }}">{{ author.name }}</a></li>
        {#<li>{{ author.name }}</li>#}
    {% else %}
        <li>Немає авторів. Ви будете першими)</li>
    {% endfor %}
{% endblock %}
