{% extends '@App/baseSecurity.html.twig' %}
    {% block section %}
       <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-md-offset-4">
                        <h3>{{ 'security.register.registration' | trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'security.register.signIn' | trans }}</a></h3>
                            <div class="account-wall">
                                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                            </div>
                     </div>
                </div>
        </div>
{% endblock %}