//@import "../../bower_components/bootstrap/less/bootstrap.less";

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}

.menu {
    line-height:2em;
    background-color: silver;
    height: auto;
    width: 8%;
    float:right;
    padding:30px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

section {
    width: 85%;
    li {list-style:none;}
    font-family: sans-serif;
    color: maroon;
    float: inherit;
    padding:10px;
    background-color: silver;
    margin-top: 10px;
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    font-family: monospace;

}
blockquote {
    color: #440044;
    text-align: left;
    font-style: italic;
}

a:link{
    color: coral;
}
a:visited{
    color: brown;
}

.nav{
    width: 85%;
    margin:0 0 0 0;
    overflow:hidden;
    background: #000000;
    ul{list-style:none;}
    a{text-decoration:none;}
}
.nav nav{
    float:left;
}
.nav ul li{
    float:left;
}
.nav ul li a{
    display:block;
    padding:6px 10px;
    color: #67b168;
    font-size:1.2em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.nav ul li a:hover{
    background:#E44D26;
    color: #000000;
}