{% for comment in comments %}
    <p>
        {{ comment.updated|date("m-d-Y H:i:s a") }}
        <a href="{{ path('post', {'slug': comment.post.slug}) }}">{{ comment.body }}</a>
    </p>
{% endfor %}