{% extends 'AppBundle::base.html.twig' %}

{% block title %} Admin {% endblock %}

{% block header %}
    <h1>Admin page</h1>
{% endblock header %}

{% block section %}

    <table border="2 px">
        <tr>
            <td>Додати запис</td>
            <td><a href="{{ path('post_create') }}"> додати </a></td>
        </tr>
        <tr>
            <td>Редагувати запис</td>
            {#<td><a href=" {{ path('post_edit', {'id': post.id}) }} ">edit</a></td>#}
        </tr>
        <tr>
            <td>Видалити запис</td>
            {#<td><a href="{{ path('post_delete', {'id': post.id}) }}"> delete </a> </td>#}

        </tr>
        <tr>
            <td>Всі пости автора</td>
        </tr>
    </table>
{% endblock section %}
