{% extends 'AppBundle::base.html.twig' %}

{% block title %} Адміністрування {% endblock %}

{% block h2 %}
    <h2>Адміністрування</h2>
{% endblock %}

{% block section %}
    <table border="2 px">
        <tr>
            <td>Додати запис</td>
            <td><a href="{{ path('post_create') }}"> додати </a></td>
        </tr>
        <tr>
            <td>Редагувати чи видалити запис</td>
            <td><a href="{{ path('posts_refactor') }}">обрати</a></td>
        </tr>
    </table>
{% endblock section %}
