{% extends 'AppBundle::base.html.twig' %}

{% block title %}Створити{% endblock %}
{% block header %}
    <h2>Створити пост</h2>
{% endblock header %}
{% block section %}
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
