{% extends 'AppBundle::base.html.twig' %}
{% block header %}
    <h2>Редагувати {{ post.title }}</h2>
{% endblock header %}
{% block section %}
    <h2>Edit post</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
