{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    <h2>Post</h2>
{% endblock header %}
{% block section %}
    <p>{{ post.body }}</p>
    <p>Published: {{ post.author }}</p>
    <p>Category: {{ post.category }}</p>
{% endblock %}
