{% extends 'AppBundle::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ include("@App/infiniteScroll.html.twig") }}
{% endblock %}
{% block section %}
    <h2>{{ 'search.result' | trans }}:</h2>

    {% include '@App/default/more.html.twig' %}
{% endblock %}
