{% extends 'AppBundle::base.html.twig' %}

{% block section %}
    <h2>Результати пошуку:</h2>
    <li>{{ title }}</li>
    {% include '@App/default/more.html.twig' %}
    {#<p>Published: {{ post.author }}</p>#}
    {#<p>Category: {{ post.category }}</p>#}
{% endblock %}
