{% extends 'AppBundle::base.html.twig' %}

{% block section %}
    <h2>Результати пошуку:</h2>
    {% include '@App/default/more.html.twig' %}
        {#{% include '@App/default/pagination.html.twig' %}#}
{% endblock %}
