{% extends 'AppBundle::base.html.twig' %}

{% block h2 %}
    <h2>Пошук</h2>
{% endblock %}

{% block section %}
    <li>{{ title }}</li>
    {#<p>Published: {{ post.author }}</p>#}
    {#<p>Category: {{ post.category }}</p>#}
{% endblock %}
