{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <p><a href="{{ path('admin') }}">admin</a></p>
    <h1>My blog</h1>
    <h2>All posts:</h2>
    {% for post in posts %}
        <li><a href="{{ path('post', {'id': post.id }) }}">{{ post.title }}</a></li>
    {% endfor %}
{% endblock %}
