{% extends 'AppBundle::base.html.twig' %}

{% block header %}
    <h1>My blog</h1>
{% endblock header %}
{% block section %}
    <h2>All posts:</h2>
    {% for post in posts %}
        <li><a href="{{ path('post', {'id': post.id }) }}">{{ post.title }}</a></li>
        <li><blockquote>{{ post.body }}</blockquote></li>
    {% endfor %}
{% endblock %}
