{% for post in pagination %}
    <li><a href="{{ path('post', {'slug': post.slug }) }}">{{ post.title }}</a></li>
    <li><blockquote>{{ post.body|raw }} </blockquote></li>
    <hr>
{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(pagination, 'AppBundle:default:pagination.html.twig') }}
</div>